# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf


# Only include the engine folder when downloading from the Asset Library.
/**         export-ignore
/engine     !export-ignore
/engine/**  !export-ignore
